if !Object.keys(networkinfos).length
    | No segmentcontrollers detected
else
    div(style='text-align: left; width: 95%')
        .row.row-cols-1.row-cols-md-4.g-10
            each segment, id in networkinfos
                .col
                    .card.h-100 
                        .card-header
                            = segment.mode
                        .card-body
                            if Object.keys(segment.panels).length
                                h6.card-subtitle.text-muted
                                    | Detected panels
                                p.card-text
                                    ul
                                    each panel, name in segment.panels
                                        li(style='list-style-type: none' title='Uptime: ' + panel.uptime)
                                            = name
                                            span.float-end.small
                                                = panel.version
                                                small
                                                    br
                                                    = panel.uptime
                                                    br
                                                    = panel.i2c
                            else
                                h6.card-subtitle.text-muted
                                    | No panel info
                        .card-footer(style='text-align: right')
                            a.card-link.btn.btn-warning(href='#' onclick='rebootcontroller('+id+')') Reboot

