doctype html
html(lang='en')
  include include/head.pug
  body
    include include/scripts.pug
    center
      br
      br
      h1  500
        h2
          i.fas.fa-exclamation-triangle.text-warning
          |  Oops! The train is out of service
        p
          | An error occurred in the system that we did not expect. The error: 
          b
            = errortext
          br
          | Meanwhile, you may 
          a(href='/') return to main screen.
        img(src="/public/bg500.jpg" alt="")
