script(src='/assets/jquery/jquery.js?' + APPVERSION)
script(src='/assets/popper/umd/popper.min.js?' + APPVERSION)
script(src='/assets/bootstrap/js/bootstrap.bundle.min.js?' + APPVERSION)
script(src='/assets/sweetalert2/sweetalert2.all.min.js?' + APPVERSION)
script(src='/assets/hotkeys-js/hotkeys.min.js?' + APPVERSION)

script(src='/public/js/common.js?' + APPVERSION)
script(src='/public/js/websocket.js?' + APPVERSION)
