dl.row
  dt.col-sm-5
    i.bi.bi-mouse
    | 
    kbd left
  dd.col-sm-7
    | Select element
    br
    | Drag element
    br
    | Resize element

  dt.col-sm-5
    i.bi.bi-mouse
    |
    kbd right
  dd.col-sm-7
    | Element menu

  dt.col-sm-5
    kbd Shift
    |
    | +
    |
    i.bi.bi-mouse
    |
    kbd left move
  dd.col-sm-7
    | Select region with mouse

  dt.col-sm-5
    kbd Ctrl
    |
    | +
    |
    i.bi.bi-mouse
    | 
    kbd left
  dd.col-sm-7
    | Select multiple element

  dt.col-sm-5
    kbd Ctrl + A
  dd.col-sm-7 Select all elements

  dt.col-sm-5
    kbd Shift + A
  dd.col-sm-7 Select all tracks & turnouts

  dt.col-sm-5
    kbd Shift + T
  dd.col-sm-7 Show/hide tracks & turnouts

  dt.col-sm-5
    kbd Shift + L
  dd.col-sm-7 Show/hide signals

  dt.col-sm-5
    kbd Shift + S
  dd.col-sm-7 Show/hide surfaces

  hr
  dt.col-sm-5 Selection mode
  dd.col-sm-7

  dt.col-sm-5
    kbd Arrows
  dd.col-sm-7 Move

  dt.col-sm-5
    kbd R
    |
    | and
    |
    kbd Shift + R
  dd.col-sm-7 Rotate

  dt.col-sm-5
    kbd Del
  dd.col-sm-7 Delete

  dt.col-sm-5
    kbd Esc
  dd.col-sm-7
    | Clear selection

  hr
  dt.col-sm-5 Drawing mode
  dd.col-sm-7

  dt.col-sm-5
    i.bi.bi-mouse
    | 
    kbd left
    |
    | or 
    |
    kbd Space
  dd.col-sm-7
    | Place new element

  dt.col-sm-5
    kbd Backspace
  dd.col-sm-7
    | Remove last placed element

  dt.col-sm-5
    i.bi.bi-mouse
    |
    kbd right
    | 
    | or 
    | 
    kbd Esc
  dd.col-sm-7
    | Exit drawing mode

  hr

  dt.col-sm-5
    kbd SHIFT + H
  dd.col-sm-7
    | Show/hide this help
